body {
    background-color: dimgray;
    font-family: sans-serif;
    background-size:cover;
}

h1 {
   
    color: darkred;
    text-align: center;
}

h2 {
    
    font-size: 25px;
    color: crimson;
    font-style: italic;
}

h3 {
    font-size: 1.5em;
    color: aliceblue;
    font-style: oblique;
}

h4 {
    font-size: 25px;
    color: whitesmoke;
    font-style: italic;
    text-align: right;
}

p {
    color: whitesmoke;
    font-size: 25px;
}